/* Value box */

.value-box {
  border-radius: 2px;
  position: relative;
  display: block;
  margin-right: 8px;
  margin-bottom: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.value-box > .inner {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.value-box .value {
  font-size: 38px;
  font-weight: bold;
  color: white;
  margin: 0 0 3px 0;
  white-space: nowrap;
  padding: 0;
}

.value-box .caption {
  font-size: 18px;
  color: white;
}
.value-box .caption > small {
  display: block;
  font-size: 13px;
  color: white;
  margin-top: 5px;
}

.value-box .icon i {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 80px;
  color: rgba(0, 0, 0, 0.3);
}

.linked-value:hover {
  cursor: pointer;
}

.linked-value:hover i {
  font-size: 82px;
}
